<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Predict Salary Analysis</h1><br>
    <form action="submit" method="POST">
        <label for="exp" id='exp'>Experience</label>
        <input type="text" name="exp" id="exp">
        <label for="ts" id='ts'>Test Score</label>
        <input type="text" name="ts" id="ts">
        <label for="isc" id='isc'>Interview Score</label>
        <input type="text" name="isc" id="isc">
        <button type="submit" name="sub" id="sub">Submit</button><br>
        <br>
        <p>{{ans}}</p>

    </form>
</body>
</html>